* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background: rgb(0, 0, 0);
    color: rgb(6, 252, 6);
}

.nav {
    border-bottom: 2px solid;
    display: flex;
    width: 100%;
    min-width: 10rem;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo h1 a {
    text-decoration: none;
    color: rgb(34, 248, 34);
    text-shadow: 700px lpx greenyellow;
}

.nav-item {
    width: 80%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    padding: 10px;
}

.li {
    padding: 0px 20px;
    list-style-type: none;
}

.li a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(70, 235, 70);
    text-decoration: none;
}

.login {
    color: rgb(91, 194, 91);
    padding: 10px;
    display: flex;
}

.p {
    padding: 10px;
}

.p:hover {
    color: rgb(42, 85, 42);
    cursor: pointer;
}


.boost-img {
    background-image: url(./img/boostimg.avif);
    background-size: cover;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: 3rem;
    border-bottom: 2px solid;
}

.boost-img h1 {
    width: auto;
    height: auto;
    color: #29ee06;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 8rem;
    line-height: 5.5rem;
}

.boost {
    background: #2ff80c;
    color: black;
    width: auto;
    display: flex;
}

.boost-a {
    padding: 0px 30px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-content: center;
}

.boost-a p {
    width: 40rem;
    padding: 20px;
}

.boost-b {
    padding: 10px 80px 0px 10px;
    width: 50%;
    text-align: end;
}

.about {
    display: flex;
    width: auto;
}

.about-content {
    border: 2px solid;
    border-left: none;
    width: 50%;
    padding: 50px;
}

.about-content p {
    width: 300px;
    height: 300px;
    padding: 40px 0px;
}

.about-img {
    border: 2px solid;
    width: 50%;
    background-image: url(./img/thampull.png);
    background-size: cover;
}

.porducts-view {
    display: flex;
    width: auto;
    padding: 15px 0px;
}

.porducts-view h1 {
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    padding: 10px 40px;
}

.view-but {
    padding: 20px 60px 20px 20px;
    width: 50%;
    justify-content: center;
    text-align: end;
    align-items: end;
}

.view-but button {
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    background-color: rgb(6, 252, 6);
    border-radius: 30px;
    cursor: pointer;
}

.view-but button a {
    text-decoration: none;
    color: black;
}

.view-but button:hover {
    background-color: green;
    color: black;
}

.home-gym {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    width: auto;
    display: flex;
}

.home-gym-a {
    border-right: 2px solid;
    padding: 20px;
    width: 50%;
}

.home-gym-a h1 {
    margin: 10px;
    padding: 10px;
}

.home-gym-a h4 {
    margin: 10px;
    padding: 10px;
}

.home-gym-b {
    width: 50%;
    justify-items: center
}

.home-gym-b p {
    margin: 10px;
    padding: 20px 70px;
    width: 400px;
}

.faqs {
    text-align: center;
    padding: 0px 0px;
    font-size: 1rem;
}

.faqs-item {
    padding: 40px;
    border: 2px solid;
    border-top: none;
    text-align: center;
}

.img-view {
    width: 100%;
    height: 400px;
    background-image: url(./img/tarit.avif);
    background-size: contain;
    background-attachment: fixed;
}

.faqs-item p {
    padding: 10px;
    justify-self: center;
    text-align: center;
    width: 500px;
}

.promotions {
    background: #57fc3a;
    color: black;
    border: 2px solid;
    width: auto;
    display: flex;
}

.promotions-a {
    padding: 80px 60px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.promotions-b {
    padding: 80px 60px;
    width: 50%;
    justify-items: end;
}

.promotions-bb {
    padding: 10px 60px 10px 10px;
    width: fit-content;
}

.promotions-b p {
    width: 300px;
}

.shop-but {
    margin: 30px 0px;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.shop-but:hover {
    background-color: rgb(1, 158, 1);
    color: black;
}

.let-s {
    border: 2px solid;
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: linear-gradient(#070807 30%, #61fc46);
}

.footer-head {
    padding: 20px 30px;
}

footer {
    display: flex;
    width: auto;
    height: 500px;
}

.footer-content {
    display: flex;
    width: 70%;
}

.footer-ad {
    border: 2px solid;
    border-right: none;
    padding: 70px;
    width: 60%;
}

.footer-ad h2 {
    padding: 10px 0px;
}

.footer-ad label {
    padding: 20px 0px;
    margin: 2rem 0rem;
}

.email {
    margin: 1rem 0rem;
    width: 17rem;
    border: 2px solid #29ee06;
    border-radius: 30px;
    padding: 0.5rem;
    background: rgb(0, 0, 0);
}

.submit {
    margin: 2rem 0rem;
    width: 17rem;
    border: 2px solid #29ee06;
    color: #29ee06;
    font-size: 15px;
    border-radius: 30px;
    padding: 0.5rem;
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.submit:hover {
    color: #070807;
    background: rgb(1, 158, 1);
}

.footer-contact {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 6rem 8rem;
    width: 40%;
}

.footer-contact p {
    padding: 15px 0px;
}

.policy {
    border: 2px solid;
    width: 30%;
    padding: 8rem 40px;
}

.policy ul li {
    list-style-type: none;
}

.policy a {
    color: rgb(34, 248, 34);
}

.policy p {
    padding: 60px 0px;
    width: 400px;
}